.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--second-bg-color);
}
.is-open {
  transform: translateX(0);
}
.mob-link {
  color: var(--second-color);
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  text-align: start;
}
.mob-text {
  color: var(--second-color);
}
.mobile-menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.mobile-menu-btn {
  display: flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  align-items: center;
  padding: 0;
  justify-content: center;

  background-color: var(--main-bg);
  fill: var(--accent-color);
}
